# Print - end

![](https://scaler.com/topics/images/print-in-python.webp)

In [1]:
print("Hello world")
print("Hi how are you")
print("Python is awesome")

Hello world
Hi how are you
Python is awesome

In [5]:
print("Hello world", end='+_+123789,./')
print("Hi how are you") # end = '\n' (newline char)
print("Python is awesome")

Hello world+_+123789,./Hi how are you
Python is awesome

In [ ]:
# By default, end='\n' (newline character)

In [2]:
print("a \n b \n c")

a
 b
 c

#### Quiz 1
```py
print("a",end="b")
print("b", end="c")
```

In [6]:
print("a",end="b")
print("b", end="c")

abbc

# While Loops
![](https://scaler.com/topics/images/while-loop-in-python.webp)

### Print 1 to 10

In [8]:
# Initialisation
i = 1

# condition
while i <= 10:
    print(i)
    
    i += 1 # Update

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Condition that satisfied for all numbers from 1 till 10
# i <= 10 
# i < 11

In [ ]:
# 1 2 3 4 5 ... 10
# Gap ? = 1

In [9]:
# Initialisation
i = 1

# condition
while i > 11:
    print(i)
    
    i += 1 # Update

In [ ]:
# Loop did not even execute once

In [10]:
# Initialisation
i = 1

# condition
while i <= 3:
    print(i)
    
    i += 1 # Update

1
2
3

### Print 1 to N

In [13]:
# N = user input
N = int(input())

# Initialisation
i = 1

# condition
while i <= N:
    print(i, end=' ')
    
    i += 1 # Update

20
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

### Print Odd Numbers from 1 to 20

In [15]:
# Initialisation
i = 1

# condition
while i <= 20:
    print(i, end=' ')
    
    i += 2 # Update

1 3 5 7 9 11 13 15 17 19

### Print Odd Numbers from 1 to N

In [16]:
# N = user input
N = int(input())

# Initialisation
i = 1

# condition
while i <= N:
    print(i, end=' ')
    
    i += 2 # Update

30
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

### Print all numbers from N to 1

In [17]:
# N = user input
N = int(input())

# Initialisation
i = N

# condition
while i > 0:
    print(i, end=' ')
    
    i = i - 1 # Update

8
8 7 6 5 4 3 2 1

In [2]:
i = 1

while i < 5:
    print(i)
    
    # forgot the update

In [ ]:
# Infinite loop

In [1]:
print(5)

5

In [ ]:
# Simple way to write infinite loop

while True:
    print("Hello")

## Ranges
![](https://scaler.com/topics/images/range-function-in-python.webp)

In [5]:
print(range(5))

range(0, 5)

In [4]:
print(*range(5))
# * = spread operator

0 1 2 3 4

In [6]:
print(*range(3))

0 1 2

In [7]:
print(range(5.5))

TypeError: 'float' object cannot be interpreted as an integer

In [8]:
print(*range(3,8))

3 4 5 6 7

In [9]:
print(*range(-5, 0))

-5 -4 -3 -2 -1

In [10]:
print(range(-5, 0))

range(-5, 0)

In [12]:
print(*range(-5, 0))
# Spread operator

-5 -4 -3 -2 -1

In [13]:
print(list(range(-5, 0)))
# list function
# List topic is covered 1 week from now

[-5, -4, -3, -2, -1]

#### Quiz
```py
print(list(range(8, 8)))
```

In [14]:
print(list(range(8, 8)))

[]

In [15]:
print(*range(1, 10, 2))

1 3 5 7 9

In [16]:
print(*range(-5, 15, 4))

-5 -1 3 7 11

#### Quiz
How many numbers are included in the below range?


`range(1, 11, 2)`

In [17]:
print(*range(1, 11, 2))

1 3 5 7 9

In [ ]:
# 5 numbers

In [19]:
print(*range(8, 2, -1))

8 7 6 5 4 3

In [18]:
print(*range(10, -20, -6))

10 4 -2 -8 -14

# For loops
![](https://scaler.com/topics/images/for-loop-in-python.webp)

In [ ]:
# Iterate = Run a loop
# Iterations = Cycles of a loop

In [20]:
print(*range(3,8))

3 4 5 6 7

In [21]:
for i in range(3, 8):
    print(i)

3
4
5
6
7

In [ ]:
# i is going to over the range(3, 8) and it is going to pick up the values 
# in that range one-by-one

In [22]:
for i in range(3, 8):
    print(i * i)

9
16
25
36
49

In [27]:
# Print all even numbers from 1 to N (using a for loop)

N = int(input())

for i in range(2, N+1, 2):
    print(i, end=' ')

10
2 4 6 8 10

In [ ]:
# End will be excluded

In [28]:
# Print all numbers from 1 to N

N = int(input())

for i in range(1, N+1):
    print(i)

5
1
2
3
4
5

In [31]:
# Calculate sum of all numbers from 1 to N

N = int(input())
s = 0

for i in range(1, N+1):
    s = s + i
    
print("Final sum =", s)

3
Final sum = 6

# Bonus Reading Material
- Print in Python - https://www.scaler.com/topics/print-in-python/
- While Loop in Python - https://www.scaler.com/topics/python/while-loop-in-python/
- Range Function in Python - https://www.scaler.com/topics/range-function-in-python/
- For Loop in Python - https://www.scaler.com/topics/python/for-loop-in-python/
- Sum of First n Even Numbers - https://www.scaler.com/topics/sum-of-first-n-even-numbers/
- Sum of Digits of a Number in Python - https://www.scaler.com/topics/sum-of-digits-of-a-number-in-python/
- Sum of n Natural Numbers in Python - https://www.scaler.com/topics/sum-of-n-natural-numbers-in-python/
- Sum of First N Natural Numbers - https://www.scaler.com/topics/sum-of-n-natural-numbers/

# Doubts

In [32]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [34]:
N = int(input())
for i in range(N, 0, -1):
    if i == N or i == 1:
        print('' * i)
    else:
        print('' + ' ' * (i - 2) + '*')

10

       *
      *
     *
    *
   *
  *
 *
*

In [ ]:
# Next class = Nested Loops

In [35]:
print(*range('a','b'))

TypeError: 'str' object cannot be interpreted as an integer

In [36]:
# AWS - AWS account only - for now personal free tier account.
# K8s - Alpine/Ubuntu linux , most probably alpine.