In [1]:
# print sep

In [3]:
print("Hello", "World", 5, 0.2, True, [2,5,7,1], {4,7,1})

Hello World 5 0.2 True [2, 5, 7, 1] {1, 4, 7}

In [ ]:
# by default, there is a separation of a space = ' '

In [4]:
print("Hello", "World", sep=',')

Hello,World

In [5]:
print("Hello", "World", sep='[]123abc;./')

Hello[]123abc;./World

#### Quiz 1
```py
print("Hello", "World", sep=',', end='+')
print("Foo", sep='./')
print("Bar", end=' 123')
```

In [6]:
print("Hello", "World", sep=',', end='+')
print("Foo", sep='./') # end = '\n' (by default)
print("Bar", end=' 123')

Hello,World+Foo
Bar 123

In [ ]:
Hello,World+Foo
Bar 123

### Lambda Functions
![](https://www.scaler.com/topics/images/Python-Lambda-and-Anonymous-Function.webp)

- How to use Lambda Functions in Python? - https://www.scaler.com/topics/how-to-use-lambda-functions-in-python/
- Lambda and Anonymous Function in Python - https://www.scaler.com/topics/python/lambda-and-anonymous-function-in-python/

In [7]:
def boring_square(x):
    return x ** 2

In [8]:
print(boring_square(6))

36

In [9]:
print(boring_square(10))

100

In [ ]:
# The function should contain only one line

In [ ]:
# lambda <arguments> : <return value>

In [11]:
cool_square = lambda x : x ** 2

In [12]:
print(cool_square(6))
print(cool_square(10))

36
100

In [14]:
def boring_add(x, y):
    return x + y

In [ ]:
# lambda <arguments> : <return value>

In [15]:
cool_add = lambda x,y : x + y

In [16]:
print(cool_add(5, 4))

9

In [17]:
print(cool_add(8, 3))

11

In [22]:
# Typecasting = converting data from one type to another

In [23]:
a = int("54") # str to int

In [24]:
print(a)

54

In [26]:
import math

def square(x):
    return x * x

def pythagoras(a, b):
    return math.sqrt(square(a) + square(b))

print(pythagoras(3, 4)) # sqrt(3*3 + 4*4)

5.0

In [ ]:
Fill in the missing piece of code to get the value of ‘a’ as 5. (choose the block names)
a = 0
while True:
    ___________
    if a == 5:
        break
        
A.
a = a+1
a %= 5
a += 1

B.
a = a + 2
a %= 5
a += 1

C.
a = a + 1
a %= 5
a += 2

D.
a = a + 5
a %= 5
a += 5

In [29]:
a = 0
while True:
    
    a = a + 5
    a %= 5
    a += 5
    
    if a == 5:
        break

In [30]:
a

5

In [36]:
for i in range(26):
    print(chr(i + ord('a')), end=' ')

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [ ]:
chr(0 + 97) => 'a'
chr(1 + 97) => 'b'
chr(2 + 97) => 'c'

N = 8
```
********
*     *
*    *
*   *
*  *
* *
**
*
```

In [37]:
N = 8

In [42]:
print('*' * N)

for i in range(1, N-1):
    for j in range(N-i):
        print('.', end='')
    print()

********
.......
......
.....
....
...
..

In [43]:
print('*' * N)

for i in range(1, N-1):
    for j in range(N-i):
        if j == 0 or j == N-i-1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

********
*     *
*    *
*   *
*  *
* *
**

In [44]:
print('*' * N)

for i in range(1, N-1):
    for j in range(N-i):
        if j == 0 or j == N-i-1:
            print('*', end='')
        else:
            print(' ', end='')
    print()
    
print('*')

********
*     *
*    *
*   *
*  *
* *
**
*

In [50]:
def star(n):
    for i in range(1, n+1):
        print("*", end = "")
    print()
    
    for i in range(1, n):
        for j in range(1, n+1-i):
            if(j ==1 or j == n-i):
                print("*", end = "")
            else:
                print(" ", end = "")
        print()
    
star(10)

**********
*       *
*      *
*     *
*    *
*   *
*  *
* *
**
*

In [52]:
dictionary = {}
print(type(dictionary))
my_set = set()
print(type(my_set))

<class 'dict'>
<class 'set'>

In [53]:
def duplicate(ls,n):
    ans = None
    ''' input:ls-List of elements and n-indicates the length of list
    output:Return ans as True or False'''
    for i in range(n):
        if i != (n-1) and ls[i]==ls[i+1]:
            ans=True
            break
        else:
            ans=False
    # YOUR CODE GOES HERE
    return ans

In [55]:
duplicate([1,2], 4)

IndexError: list index out of range

In [ ]:
i != (n-1) 
# try checking < or > of something

In [ ]:
A = "aabbccbb"
B = 98 => chr(B) => 'b'
C = 100 => chr(C) => 'd'

In [56]:
A = "aabbccbb"
# replace all occurrences of 'b' with 'd'

In [ ]:
# replace all occurences of ASCII char of 98 with ASCII char of 100
# replace all occurences of chr(98) with chr(100)

In [58]:
str1 = 'adasdargerheserh'
freq = {}


for i in set(str1):
    freq[i] = str1.count(i)


print(freq)

{'a': 3, 'e': 3, 'd': 2, 's': 2, 'g': 1, 'r': 3, 'h': 2}

In [71]:
A = {'t1' : -5, 't2' : -10, 't3' : -15}
B = {'t3' : -12, 't4' : -20}

keys = set(A.keys()).union(set(B.keys()))

res = {}

for k in keys:
    value = max(A.get(k, 0), B.get(k, 0))
    res[k] = value
    
print(res)

{'t2': 0, 't1': 0, 't4': 0, 't3': -12}

In [70]:
A = {'t1' : -5, 't2' : -10, 't3' : -15}
B = {'t3' : -12, 't4' : -20}

keys = set(A.keys()).union(set(B.keys()))

res = {}
DEFAULT_VALUE = -10**6

for k in keys:
    value = max(A.get(k, DEFAULT_VALUE), B.get(k, DEFAULT_VALUE))
    res[k] = value
    
print(res)

{'t2': -10, 't1': -5, 't4': -20, 't3': -12}

In [60]:
print(A.keys())

dict_keys(['t1', 't2', 't3'])

In [61]:
print(B.keys())

dict_keys(['t3', 't4'])

In [63]:
set(A.keys()).union(set(B.keys()))
# union of all keys of A and B

{'t1', 't2', 't3', 't4'}

In [ ]:
# Constraints-
# -105 < A[key] < 105
# -105 < B[key] < 105

In [72]:
def merge(A, B):
    keys = set(A.keys()).union(set(B.keys()))

    res = {}
    DEFAULT_VALUE = -10**6
    
    for k in keys:
        value = max(A.get(k, DEFAULT_VALUE), B.get(k, DEFAULT_VALUE))
        res[k] = value
    
    
    return res

In [73]:
# in-place means make the changes in the provided array only
# no need to make a new array

In [76]:
a = [1, 2, 5, 2, 3, 4, 1, 2, 3, 5]


while 3 in a:
    a.remove(3)
    
print(a)

[1, 2, 5, 2, 4, 1, 2, 5]

In [ ]:
def removeAll(arr, val):
    
    while val in arr:
        arr.remove(val) 
    
    return arr

In [ ]:
def removeAll(arr, val):
    
    for i in range(arr.count(val)):
        arr.remove(val)
    
    return arr

In [78]:
x = float('inf')

print(x)

inf