# Loops 2

**Question:** Write a loop to print the following numbers - `1,4,7,10,13,16`

In [5]:
# Start = 1
# End = 16
# Update = +3

for i in range(1, 17, 3):
    if i == 16:
        print(i, end='')
    else:
        print(i, end=',')

1,4,7,10,13,16

**Question**: Write a loop to print the following numbers - `1,3,7,13,21,31,43`

In [7]:
# Start = 1
# End = 43
# Update = 2, 4, 6, 8, 10

In [12]:
i = 1 # Initialisation

update = 2

# condition
while i <= 43:
    print(i, end=' ')
    
    # update
    i += update
    update += 2

1 3 7 13 21 31 43

## Loop control statements
![](https://scaler.com/topics/images/Break-Pass-and-continue-statement-in-Python.webp)

### pass statement
![](https://scaler.com/topics/images/pass-in-python.webp)

\
pass in Python is a null statement which the interpreter simply 'moves over' while executing the code. It can be used in a variety of scenarios where you want to leave parts of your code undefined (such as if-else, loops, classes or methods) but the Python syntax doesn't allow it.

In [ ]:
# dummy placeholder

In [13]:
x = 10

# special case
if x >= 5:

IndentationError: expected an indented block (3470939288.py, line 5)

In [14]:
x = 10

# special case
if x >= 5:
    pass

In [15]:
for i in range(10):
    pass

In [16]:
for i in range(10):

IndentationError: expected an indented block (4155345654.py, line 2)

<img src="https://media.giphy.com/media/um5zgB7txzYeBPZnPZ/giphy.gif" width="200px" />

# Continue statement
<img src="https://media.giphy.com/media/l2YWxte7sJB2XuE8M/giphy.gif" width="300px" />

Skips an iteration.
Works with both for loops and while loops

In [17]:
for i in range(5):
    print(i)

0
1
2
3
4

In [18]:
for i in range(5):
    if i == 3:
        continue
    print(i)

0
1
2
4

In [ ]:
# skip whatever is left in the current iteration
# and jump to the start of the next one

In [19]:
for i in range(10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

#### Quiz 1
```py
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)
```

In [ ]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

# Break statement

In [20]:
# break = stop/destroy something
# break statement terminates your loop

In [21]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [ ]:
0 1 2

#### Quiz
What will be the output of the following code?
```py
count = 0
while True:
    if count == 5:
        break
    print(count)
    count += 1
```

In [22]:
count = 0
while True:
    if count == 5:
        break
    print(count)
    count += 1

0
1
2
3
4

<img src="https://media.giphy.com/media/dYsYG3shlTDO1S38Vg/giphy.gif" width="300px" />

#### Quiz
```py
for i in range(1, 10):
    if i == 5:
        break  
    print(i, end=' ')
```

In [26]:
for i in range(1, 10):
    if i == 5:
        break
    print(i, end=' ')

1 2 3 4

In [23]:
print(*range(1, 10))

1 2 3 4 5 6 7 8 9

Which statement is used to skip the current iteration of a loop and move on to the next iteration?

break, continue, pass, None of these \
Correct answer = continue

## Nested Loops

In [28]:
for j in range(5):
    print('*', end=' ')

* * * * *

In [30]:
for j in range(5):
    print('*', end=' ')
print()
    
for j in range(5):
    print('*', end=' ')
print()
    
for j in range(5):
    print('*', end=' ')
print()

for j in range(5):
    print('*', end=' ')
print()

* * * * *
* * * * *
* * * * *
* * * * *

In [31]:
for i in range(4):
    for j in range(5):
        print('*', end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# 4 * 5 matrix of *
# 4 rows
# 5 columns

**Question:** Write a program to print a `N x N` matrix of `*`

In [37]:
N = int(input())

for i in range(N):
    for j in range(N):
        print('*', end=' ')
    print()

3
* * *
* * *
* * *

**Question:** Write a program to print a multiplication table till the provided input.


```
Example Input:
3

Example Output:
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

```

In [47]:
N = 5

# Multiplication table of 1
x = 1
for j in range(1, 11):
    print(x * j, end=' ')
print()

# Multiplication table of 2
x = 2
for j in range(1, 11):
    print(x * j, end=' ')
print()

# Multiplication table of 3
x = 3
for j in range(1, 11):
    print(x * j, end=' ')
print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [49]:
for i in range(1, 4):
    # Multiplication table of i
    x = i
    for j in range(1, 11):
        print(x * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [46]:
N = int(input())

for i in range(1, N+1):
    # Multiplication table of i
    x = i
    for j in range(1, 11):
        print(x * j, end=' ')
    print()

3
1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30

In [ ]:
# Given a number, write its multiplication table
# x = 4
# 4, 8, 12, 16, 20, 24 ... 40

In [40]:
x = 3

for j in range(1, 11):
    print(x * j, end=' ')

3 6 9 12 15 18 21 24 27 30

In [ ]:
# General recommendation:
# i for outer loops
# j for inner loops

In [50]:
for i in range(1, 5):
    # Multiplication table of i
    x = i
    for j in range(1, 11):
        print(x * j, end=' ')
        print("i=",i, "  j=",j)
    print()

1 i= 1   j= 1
2 i= 1   j= 2
3 i= 1   j= 3
4 i= 1   j= 4
5 i= 1   j= 5
6 i= 1   j= 6
7 i= 1   j= 7
8 i= 1   j= 8
9 i= 1   j= 9
10 i= 1   j= 10

2 i= 2   j= 1
4 i= 2   j= 2
6 i= 2   j= 3
8 i= 2   j= 4
10 i= 2   j= 5
12 i= 2   j= 6
14 i= 2   j= 7
16 i= 2   j= 8
18 i= 2   j= 9
20 i= 2   j= 10

3 i= 3   j= 1
6 i= 3   j= 2
9 i= 3   j= 3
12 i= 3   j= 4
15 i= 3   j= 5
18 i= 3   j= 6
21 i= 3   j= 7
24 i= 3   j= 8
27 i= 3   j= 9
30 i= 3   j= 10

4 i= 4   j= 1
8 i= 4   j= 2
12 i= 4   j= 3
16 i= 4   j= 4
20 i= 4   j= 5
24 i= 4   j= 6
28 i= 4   j= 7
32 i= 4   j= 8
36 i= 4   j= 9
40 i= 4   j= 10

#### Quiz
What will be the output of the following code snippet?
```py
for i in range(3):
    for j in range(i, 3):
        print("*", end=" ")
    print()
```

```
A.
  * * *
  * *
  *
B.
  * * *
  * * *
  * * *
C.
      *
    * *
  * * *
```

In [51]:
for i in range(3):
    for j in range(i, 3):
        print("*", end=" ")
    print()

* * *
* *
*

In [52]:
for i in range(3):
    for j in range(i, 3):
        if j == 2:
            print("*", end="")
        else:
            print("*", end=' ')
    print()

* * *
* *
*

## GCD

In [ ]:
# Given two numbers, print their GCD

In [57]:
A = 20
B = 30

# Search space = 1..min(A, B)
# Decreasing loop
for i in range(min(A, B), 0, -1):
    # no. that divides both A & B
    if A % i == 0 and B % i == 0:
        print(i)
        break

10

In [ ]:
# A % i == 0 => If A is divisible by i
# B % i == 0 => If B is divisible by i

In [59]:
for i in range(10, 0, -1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

## LCM

# Bonus Reading Material
- Pass in Python - https://www.scaler.com/topics/pass-in-python/
- Break, Pass and Continue Statement in Python - https://www.scaler.com/topics/python/break-pass-and-continue-statement-in-python/
- Factorial Program in Python - https://www.scaler.com/topics/factorial-program-in-python/
- Prime Number Program in Python - https://www.scaler.com/topics/prime-number-program-in-python/
- Python Random Module - https://www.scaler.com/topics/python-random-module/
- What is Nested For Loop in Python? - https://www.scaler.com/topics/nested-for-loop-in-python/
- Pattern Program in Python - https://www.scaler.com/topics/pattern-program-in-python/

# Doubts

In [60]:
# Question: Write a loop to print the following numbers - 1,3,7,13,21,31,43

In [ ]:
# start = 1
# end = 43
# update = 2, 4, 6, 8, 10

In [65]:
i = 1
diff = 2

while i <= 43:
    print(i, end=' ')
    
    i += diff
    print("diff =", diff)
    diff += 2

1 diff = 2
3 diff = 4
7 diff = 6
13 diff = 8
21 diff = 10
31 diff = 12
43 diff = 14

In [ ]:
# once you have successfully solved a question
# you get 100 points
# Then make sure to unlock all hints and see those solutions
# You will not lose any further points

In [ ]:
# Do atleast 5 examples on pen-paper

In [66]:
print(min(5, 20), min(4, 3))

5 3

In [ ]:
# min = if-else condition