# Tuples
![](https://scaler.com/topics/images/tuples-in-python.webp)

- Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you.
- One major feature of tuples is that they are **immutable** like strings i.e. you cannot modify tuples.
- Tuples are defined by specifying items separated by commas within an optional pair of parentheses.
- Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used will **not change**.

In [1]:
# ISRO
planets = [
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
]

In [2]:
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [3]:
# Intern
planets[2] = 'My planet'

In [4]:
print(planets)

['Mercury', 'Venus', 'My planet', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto']

In [6]:
planets = (
    "Mercury",
    "Venus",
    "Earth",
    "Mars",
    "Jupiter",
    "Saturn",
    "Uranus",
    "Neptune",
    "Pluto"
)

print(planets, type(planets))

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto') <class 'tuple'>

In [7]:
# Intern
planets[2] = 'My planet'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# Tuple = A list that cannot be modified
# Immutable = Cannot be changed / modified

In [ ]:
# You cannot add data
# You cannot remove data
# You cannot update data

### How to create a tuple
1. Using round brackets
2. Using tuple()
3. Using comma separated values

In [8]:
t = (1, 2, 3, 'hello', True)

print(t)

(1, 2, 3, 'hello', True)

In [9]:
t = (1, 2, (3, 4))
print(t)

(1, 2, (3, 4))

In [10]:
t = (5)

print(t, type(t))

5 <class 'int'>

In [11]:
t = (5,)

print(t, type(t))

(5,) <class 'tuple'>

In [ ]:
# To create a tuple of a single element
# Put a trailing comma at the end

In [12]:
# Empty tuple
t = tuple()

print(t)

()

In [13]:
l = [1, 2, 3]

# Make a tuple with the same data
t = tuple(l)

print(t)

(1, 2, 3)

In [14]:
s = 'hello'

# Make a tuple with the same data
t = tuple(s)

print(t)

('h', 'e', 'l', 'l', 'o')

In [15]:
t = 1,2,3,4

print(t)

(1, 2, 3, 4)

In [16]:
t = 5, 6

print(t)

(5, 6)

In [19]:
t = 7,

print(t)

(7,)

### Unpacking and Packing

In [21]:
t = 1, 2, 3

print(t)

(1, 2, 3)

In [23]:
a = t[0]
b = t[1]
c = t[2]

print(a, b, c)

1 2 3

In [24]:
# Unpacking
a, b, c = 1, 2, 3

print(a, b, c)

1 2 3

In [25]:
a, b, c = 1, 2, 3, 4

ValueError: too many values to unpack (expected 3)

In [26]:
a, b, c = 1, 2

ValueError: not enough values to unpack (expected 3, got 2)

### Iterating

In [27]:
t = 10,20,30,40,50,60

In [ ]:
# Tuples are also iterable
# You can run loops on them in the exact same way as lists

In [28]:
for x in t:
    print(x, end=' ')

10 20 30 40 50 60

In [29]:
print(len(t))

6

In [30]:
t = 10,20,30,40,50,60

y = t[2]

print(y)

30

#### Quiz 1
```py
t = ("Sahil")
type(t)
```

In [31]:
t = ("Sahil")
print(type(t))

<class 'str'>

In [32]:
t = ("Sahil",)
print(type(t))

<class 'tuple'>

#### Quiz 2
What is the output of the following?

```py
print(type((1,2,3)))
```

In [33]:
t = (1,2,3)
print(type(t))

<class 'tuple'>

#### Quiz 3
What will be the output of the following code snippet?
```py
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y
print(len(z))
```

In [37]:
x = (1, 2, 3)
y = (4, 5, 6)
z = x + y # (1,2,3) + (4,5,6) = (1,2,3,4,5,6)
print(len(z))
print(z)
print(x)
print(y)

6
(1, 2, 3, 4, 5, 6)
(1, 2, 3)
(4, 5, 6)

#### Quiz 4
```py
t=tuple(range(1, 10, 2))
print(t)
```

In [36]:
t = tuple(range(1, 10, 2))
print(t)

(1, 3, 5, 7, 9)

In [38]:
t = ([1,2], 4, 5, 6)

print(t[0])

[1, 2]

In [39]:
t[0].append(80)

print(t)

([1, 2, 80], 4, 5, 6)

In [40]:
# Swapping two numbers
a = 5
b = 10

a, b = b, a

print(a, b)

10 5

## Bonus Reading Material for Tuples
- Data Structures in Python - https://www.scaler.com/topics/data-structures-in-python/
- Tuples in Python - https://www.scaler.com/topics/python/tuples-in-python/
- What is the Difference Between List and Tuple in Python? - https://www.scaler.com/topics/difference-between-list-and-tuple-in-python/
- Convert List to Tuple in Python - https://www.scaler.com/topics/convert-list-to-tuple-python/
- WtfPython: Mutating the immutable! - https://github.com/satwikkansal/wtfpython#-mutating-the-immutable
- WtfPython: Needles in a Haystack - https://github.com/satwikkansal/wtfpython#-needles-in-a-haystack-

# Sets
![](https://scaler.com/topics/images/set-in-python.webp)

In [42]:
s = {1, 9, 'hello', 0.5, 4}

print(s, type(s))

{0.5, 1, 4, 9, 'hello'} <class 'set'>

- Curly Brackets
- Unordered data structure
- Unique elements
- Mutable data structure

In [43]:
s = {10, 20, 30, 20, 20, 10, 20, 30, 30, 10}

print(s)

{10, 20, 30}

In [44]:
# Internally, set uses "hashing".
# Hashing is covered in the DSA module

In [ ]:
# Because of the hashing nature of set, you cannot put mutable
# data inside your set
# Only immutable data allowed

In [47]:
s = {10, 20, 30, [40, 50]}
print(s)

TypeError: unhashable type: 'list'

In [48]:
s = {10, 20, 30, {40, 50}}
print(s)

TypeError: unhashable type: 'set'

In [49]:
s = {10, 20, 30, (40, 50)}
print(s)

{10, (40, 50), 20, 30}

In [50]:
# How to create an empty set ?
s = {} # does not work, you get a dict
print(s, type(s))

{} <class 'dict'>

In [51]:
s = set()
print(s, type(s))

set() <class 'set'>

Important methods
- add()
- remove()
- in

In [52]:
s = {1, 2, 3, 4}
print(s)

{1, 2, 3, 4}

In [53]:
s.add(60)
print(s)

{1, 2, 3, 4, 60}

In [54]:
s.remove(4)
print(s)

{1, 2, 3, 60}

In [55]:
s = {10, 20, 30}

s.remove(40)

print(s)

KeyError: 40

In [56]:
# Check if a value is present in the set or not
s = {10, 20, 30, 40}

print(10 in s)

True

In [58]:
x = 25

if x in s:
    print("Value is present")
else:
    print("Value is not present in the set")

Value is not present in the set

In [59]:
s = {10, 20, 30, 40}

print(len(s))

4

### TV Series recommendation
You ask 2 friends for a TV Series recommendation

In [60]:
A = {
    "Breaking Bad",
    "Better Call Saul",
    "Dark"
}

B = {
    "Sherlock",
    "Dark",
    "The Office"
}

In [62]:
# Intersection
# C = A.intersection(B)
# C = B.intersection(A)
C = A & B

print(C)

{'Dark'}

In [63]:
# Union
# D = A.union(B)
# D = B.union(A)
D = A | B

print(D)

{'The Office', 'Breaking Bad', 'Dark', 'Sherlock', 'Better Call Saul'}

In [64]:
# Difference
E = A - B
print(E)

{'Breaking Bad', 'Better Call Saul'}

In [65]:
F = B - A
print(F)

{'The Office', 'Sherlock'}

In [66]:
# Symmetric Difference
G = A ^ B

print(G)

{'Breaking Bad', 'Better Call Saul', 'The Office', 'Sherlock'}

### Count unique
Given an array, count unique elements in it.

In [67]:
def count_unique(l):
    s = set(l)
    return len(s)

In [70]:
def count_unique(l):
    return len(set(l))

In [71]:
print(count_unique([1, 2, 3, 1, 3, 2, 4])) # 4
print(count_unique([5, 6, 5])) # 2

4
2

#### Quiz 
What is the output of the following?
```py
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))
```

In [74]:
a = {1,2,3}
b = {3,4,5}
print(a-b)
print(a.union(b))
print(a.intersection(b))

{1, 2}
{1, 2, 3, 4, 5}
{3}

#### Quiz 
What is the value of x in the code snippet below?
```py
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 - set2
```

In [75]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {2, 4, 5, 6, 7}
x = set1 - set2

print(x)

{1, 3}

In [76]:
print({1,2} + {3, 4})

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [77]:
print({1, 2} | {3, 4}) # union

{1, 2, 3, 4}

## Bonus Reading Material for Sets
- set() in Python - https://www.scaler.com/topics/set-in-python/
- Sets in Python - https://www.scaler.com/topics/python/sets-in-python/
- Set to List Python - https://www.scaler.com/topics/set-to-list-python/
- Convert List to Set Python - https://www.scaler.com/topics/convert-list-to-set-python/
- frozenset() in Python - https://www.scaler.com/topics/frozenset-in-python/
- Python Set difference() - https://www.scaler.com/topics/python-set-difference/
- union() in Python - https://www.scaler.com/topics/union-in-python/
- intersection() in Python - https://www.scaler.com/topics/intersection-in-python/
- symmetric_difference() Python - https://www.scaler.com/topics/symmetric-difference-python/

# Doubts

In [78]:
a = [50, 20, 30]
a.sort()

print(a)

[20, 30, 50]

In [ ]:
# Bubble, Selection, Insertion - O(N^2)
# Mergesort, Quicksort - O(N log N)

In [80]:
def date_format(date):
    '''Input: date takes the string as input
    Output: return resultant date formats'''
    # YOUR CODE GOES HERE #print(date)
    given_date = date[0:2]
    month = date[3:5]
    year = date[6:]
    return f'{month}/{given_date}/{year}', f'{year}/{month}/{given_date}'
    
    
# t = int(input())
# b = date_format(input())

In [86]:
given_date = "1/2/2024"
date_format(given_date)

/2/1//24
24//2/1/